* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 62px;
  line-height: 72px;
  font-family: "Varela Round", sans-serif;
  margin-top: 20px; }

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
  margin-top: 20px;
  font-family: "Varela Round", sans-serif; }

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px; }

p {
  color: #8c8f94;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px; }

.title {
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

a:hover {
  text-decoration: none; }

ul {
  padding: 0; }

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: "Lato", sans-serif; }

.fw-400 {
  font-weight: 400; }

b {
  font-weight: 700; }

input[type="text"], input[type="email"] {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;
  padding-right: 148px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }

input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
  color: #26272d; }

@media screen and (max-width: 575px) {
  #header h1 {
    font-size: 54px; }
  h2 {
    font-size: 48px; } }

@media screen and (max-width: 475px) {
  body #header h1 {
    font-size: 48px; }
  body h2 {
    font-size: 42px; } }

ul li {
  display: inline-block; }

.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }
  .btn.btn-blue {
    background: #267df4;
    color: #fff; }
    .btn.btn-blue i {
      margin-right: 5px; }
    .btn.btn-blue:hover {
      color: #fff; }
  .btn.btn-lg {
    padding: 14px 48px; }
  .btn.btn-green {
    background-color: #6fc754;
    color: #fff; }
    .btn.btn-green i {
      font-size: 12px;
      margin-left: 18px; }
  .btn.btn-dark {
    background-color: #131315;
    color: #fff;
    padding: 9px 28px; }
    .btn.btn-dark i {
      font-size: 32px;
      display: inline-block;
      margin-left: 0;
      margin-right: 18px; }

#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1); }
  #main-nav.active {
    background-color: #fff;
    padding: 24px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }
  #main-nav .main-nav-container {
    position: relative; }
    #main-nav .main-nav-container .row {
      align-items: baseline; }
  #main-nav #navigation-btn {
    color: #26272d;
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    z-index: 2; }
    #main-nav #navigation-btn:hover {
      color: #267df4; }
  #main-nav ul.left {
    margin-bottom: 0;
    margin-left: 50px;
    text-align: left; }
  #main-nav ul.right {
    margin-bottom: 0;
    text-align: right; }
    #main-nav ul.right li:first-child a {
      color: #8c8f94; }
      #main-nav ul.right li:first-child a:hover {
        color: #267df4; }
    #main-nav ul.right li a.btn-blue {
      color: #fff; }
  #main-nav ul li {
    display: inline-block;
    margin-right: 40px; }
    #main-nav ul li:last-child {
      margin-right: 0; }
    #main-nav ul li a {
      color: #26272d; }
      #main-nav ul li a:hover {
        color: #267df4; }

#header {
  background-image: url("../../images/header-bg.jpg");
  padding: 200px 0 510px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  #header p {
    font-size: 20px;
    color: #8c8f94; }
  #header .btn-lg {
    margin-top: 48px;
    color: #26272d; }
    #header .btn-lg i {
      margin-right: 10px; }
  #header .header-iphone {
    position: absolute;
    bottom: -310px;
    left: 50%;
    margin-left: -185px; }

@media screen and (max-width: 992px) {
  #main-nav .col-lg-4:first-child, #main-nav .col-lg-4:last-child {
    display: none; }
  #main-nav #navigation-btn {
    margin-top: -10px; } }

@media screen and (max-width: 575px) {
  #header {
    padding: 160px 0 460px; }
    #header .header-iphone {
      bottom: -220px;
      margin-left: -140px;
      width: 280px; } }

@media screen and (max-width: 475px) {
  #header {
    padding: 160px 0 380px; }
    #header .header-iphone {
      bottom: -210px;
      margin-left: -130px;
      width: 260px; }
    #header p {
      font-size: 18px; }
  header#main-nav #slide-out-menu {
    width: 320px;
    padding: 30px; }
    header#main-nav #slide-out-menu .close-menu {
      position: absolute;
      right: 20px;
      top: 30px;
      color: #fff; } }

@media screen and (max-width: 335px) {
  header#main-nav #slide-out-menu {
    width: 305px;
    padding: 30px; } }

#main-nav #slide-out-menu {
  position: fixed;
  display: block;
  width: 380px;
  max-width: 650px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #26272d;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1); }
  #main-nav #slide-out-menu.open {
    left: 0; }
  #main-nav #slide-out-menu .close-menu {
    position: absolute;
    right: 20px;
    top: 40px;
    color: #fff; }
  #main-nav #slide-out-menu .nav-list {
    margin: 40px 0 10px 0;
    padding: 0; }
    #main-nav #slide-out-menu .nav-list li {
      display: block;
      margin: 10px 0; }
      #main-nav #slide-out-menu .nav-list li:last-child {
        margin: 20px 0; }
      #main-nav #slide-out-menu .nav-list li a {
        color: #fff; }
        #main-nav #slide-out-menu .nav-list li a:hover {
          color: #267df4; }
        #main-nav #slide-out-menu .nav-list li a.btn-blue {
          color: #fff; }
  #main-nav #slide-out-menu .socials li {
    display: inline-block;
    margin-right: 20px; }
    #main-nav #slide-out-menu .socials li:last-child {
      margin-right: 0; }
    #main-nav #slide-out-menu .socials li a {
      color: rgba(255, 255, 255, 0.5);
      transition: all .2s ease-in-out; }
      #main-nav #slide-out-menu .socials li a:hover {
        color: #fff; }

#features {
  padding: 120px 0; }
  #features .f-icon {
    margin-bottom: 48px; }
    #features .f-icon .lnr {
      font-size: 48px;
      color: #267df4; }
  #features .f-caption h4 {
    margin-bottom: 24px; }

@media screen and (max-width: 992px) {
  #features {
    padding: 100px 0; }
    #features .feature-item {
      margin-bottom: 60px; }
      #features .feature-item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  #features {
    padding: 80px 0; }
    #features .feature-item {
      margin-bottom: 50px; }
      #features .feature-item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 475px) {
  #features {
    padding: 50px 0; }
    #features .feature-item {
      margin-bottom: 30px; }
      #features .feature-item:last-child {
        margin-bottom: 0; }
    #features .f-icon {
      margin-bottom: 24px; } }

#iphone-feature {
  position: relative;
  padding: 240px 0 330px; }
  #iphone-feature .btns-container {
    margin-top: 62px; }
    #iphone-feature .btns-container .btn-blue i {
      margin-left: 50px; }
    #iphone-feature .btns-container .btn {
      margin-right: 20px;
      margin-bottom: 18px; }
      #iphone-feature .btns-container .btn:last-child {
        margin-right: 0;
        color: #26272d; }
  #iphone-feature .iphone-img-wrap {
    position: absolute;
    bottom: 110px;
    right: 50%; }

@media screen and (max-width: 991px) {
  #iphone-feature {
    padding: 80px 0 60px; }
    #iphone-feature .iphone-img-wrap {
      position: relative;
      bottom: auto;
      right: auto;
      padding: 0 15px;
      margin-top: 64px; }
      #iphone-feature .iphone-img-wrap img {
        width: 100%; } }

@media screen and (max-width: 768px) {
  #iphone-feature {
    padding: 60px 0; }
    #iphone-feature .btns-container {
      margin-top: 40px; }
    #iphone-feature .iphone-img-wrap {
      margin-top: 50px; } }

@media screen and (max-width: 575px) {
  #iphone-feature {
    padding: 50px 0; }
    #iphone-feature h2 {
      margin-bottom: 30px; }
    #iphone-feature .btns-container {
      margin-top: 40px;
      text-align: center; }
    #iphone-feature .iphone-img-wrap {
      margin-top: 50px; } }

@media screen and (max-width: 475px) {
  #iphone-feature .btns-container {
    margin-top: 40px;
    text-align: center; }
    #iphone-feature .btns-container .btn:last-child {
      margin-bottom: 0; } }

#map-feature {
  padding: 120px 0 140px;
  position: relative;
  overflow: hidden; }
  #map-feature .map-img-wrap {
    position: absolute;
    bottom: 110px;
    left: 50%; }
  #map-feature .partners-container {
    margin-top: 52px; }
    #map-feature .partners-container .title {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em; }
    #map-feature .partners-container ul {
      margin: 26px 0; }
      #map-feature .partners-container ul li:first-child {
        margin-right: 10px; }

@media screen and (max-width: 991px) {
  #map-feature {
    padding: 100px 0 100px;
    position: relative;
    overflow: hidden; }
    #map-feature .map-img-wrap {
      position: relative;
      bottom: auto;
      left: auto;
      padding: 0 15px;
      margin-top: 64px; }
      #map-feature .map-img-wrap img {
        width: 100%; } }

@media screen and (max-width: 768px) {
  #map-feature {
    padding: 60px 0; }
    #map-feature .map-img-wrap {
      margin-top: 50px; }
      #map-feature .map-img-wrap img {
        width: 100%; }
    #map-feature .partners-container {
      margin-top: 40px; }
      #map-feature .partners-container ul {
        margin: 2px 0; } }

@media screen and (max-width: 575px) {
  #map-feature {
    padding: 50px 0; }
    #map-feature h2 {
      margin-bottom: 30px; }
    #map-feature .map-img-wrap {
      margin-top: 50px; }
      #map-feature .map-img-wrap img {
        width: 100%; }
    #map-feature .partners-container {
      margin-top: 40px; }
      #map-feature .partners-container ul {
        margin: 20px 0; } }

@media screen and (max-width: 475px) {
  #map-feature .partners-container {
    text-align: center; }
    #map-feature .partners-container ul li {
      display: block;
      margin-bottom: 10px; }
      #map-feature .partners-container ul li:last-child {
        margin-bottom: 0; }
      #map-feature .partners-container ul li:first-child {
        margin-right: 0; } }

#iphone-gal {
  padding: 140px 0 800px;
  position: relative;
  background-color: #f4f4f5;
  overflow: hidden; }
  #iphone-gal h2 {
    margin-bottom: 0; }
  #iphone-gal hr {
    margin: 40px auto;
    width: 50px;
    height: 2px;
    background-color: #267df4; }
  #iphone-gal .images-list {
    width: 100%;
    position: relative; }
    #iphone-gal .images-list li {
      position: absolute;
      width: 320px;
      top: 92px;
      box-shadow: 10px 10px 16px 0 rgba(61, 61, 62, 0.15); }
      #iphone-gal .images-list li:nth-child(1) {
        left: 50%;
        margin-left: -880px; }
      #iphone-gal .images-list li:nth-child(2) {
        left: 50%;
        margin-left: -530px; }
      #iphone-gal .images-list li:nth-child(4) {
        right: 50%;
        margin-right: -530px; }
      #iphone-gal .images-list li:nth-child(5) {
        right: 50%;
        margin-right: -880px; }
      #iphone-gal .images-list li img {
        max-width: 100%; }
    #iphone-gal .images-list .main-img {
      position: absolute;
      width: 395px;
      top: 0;
      left: 50%;
      margin-left: -193px;
      box-shadow: none; }

@media screen and (max-width: 992px) {
  #iphone-gal {
    padding: 120px 0 620px; }
    #iphone-gal .images-list {
      width: 100%;
      position: relative; }
      #iphone-gal .images-list li {
        position: absolute;
        width: 240px;
        top: 68px; }
        #iphone-gal .images-list li:nth-child(1) {
          margin-left: -680px; }
        #iphone-gal .images-list li:nth-child(2) {
          margin-left: -410px; }
        #iphone-gal .images-list li:nth-child(4) {
          margin-right: -410px; }
        #iphone-gal .images-list li:nth-child(5) {
          margin-right: -680px; }
      #iphone-gal .images-list .main-img {
        width: 295px;
        margin-left: -148px; } }

@media screen and (max-width: 768px) {
  #iphone-gal {
    padding: 120px 0 460px; }
    #iphone-gal .images-list {
      width: 100%;
      position: relative; }
      #iphone-gal .images-list li {
        position: absolute;
        width: 178px;
        top: 52px; }
        #iphone-gal .images-list li:nth-child(1) {
          margin-left: -502px; }
        #iphone-gal .images-list li:nth-child(2) {
          margin-left: -304px; }
        #iphone-gal .images-list li:nth-child(4) {
          margin-right: -304px; }
        #iphone-gal .images-list li:nth-child(5) {
          margin-right: -502px; }
      #iphone-gal .images-list .main-img {
        width: 220px;
        margin-left: -110px; } }

@media screen and (max-width: 575px) {
  #iphone-gal {
    padding: 50px 0 460px; } }

#get-it, #subscribe {
  padding: 120px 0 130px;
  background-color: #f4f4f5; }
  #get-it form, #subscribe form {
    margin-bottom: 66px; }
    #get-it form .form-group, #subscribe form .form-group {
      position: relative;
      width: 502px;
      max-width: 100%;
      margin: 0 auto; }
      #get-it form .form-group .btn, #subscribe form .form-group .btn {
        position: absolute;
        top: 3px;
        right: 3px; }

#get-it .download-btn .btn-dark i {
  vertical-align: text-bottom; }

#get-it .download-btn .btn-dark span {
  font-size: 12px;
  display: inline-block;
  text-align: left; }
  #get-it .download-btn .btn-dark span b {
    font-size: 22px;
    line-height: 18px; }

@media screen and (max-width: 992px) {
  #get-it {
    padding: 100px 0 110px; } }

@media screen and (max-width: 575px) {
  #get-it, #subscribe {
    padding: 80px 0; }
    #get-it form, #subscribe form {
      margin-bottom: 50px; }
      #get-it form .form-group input, #subscribe form .form-group input {
        margin-bottom: 14px; }
      #get-it form .form-group .btn, #subscribe form .form-group .btn {
        position: relative; } }

#customers {
  padding: 120px 0; }
