
.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  &.btn-blue {
    background: $color_btn-blue;
    color: $color_text-white;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: $color_text-white;
    }
  }
  &.btn-lg {
    padding: 14px 48px;
  }
  &.btn-green {
    background-color: $color_btn-green;
    color: $color_text-white;
    i {
      font-size: 12px;
      margin-left: 18px;
    }
  }
  &.btn-dark {
    background-color: $color_btn-dark;
    color: $color_text-white;
    padding: 9px 28px;
    i {
      font-size: 32px;
      display: inline-block;
      margin-left: 0;
      margin-right: 18px;
    }
  }

}

