//bg
$bg_color-menu: #26272d;
$bg_color-footer: #fff;
$bg_color-grey: #f4f4f5;
$bg_color-white: #fff;

//text
$color_text-dark: #26272d;
$color_text-grey: #8c8f94;
$color_text-white: #fff;
$color_text-blue: #267df4;

//rgba
$color_white50: rgba(255, 255, 255, 0.5);

//btn
$color_btn-blue: #267df4;
$color_btn-green: #6fc754;
$color_btn-dark: #131315;