$lato: 'Lato', sans-serif;
$varela: 'Varela Round', sans-serif;

* {
  box-sizing: border-box;
}
body {
  font-family: $lato;
}

h1, h2, h3, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
  font-family: $varela;
  margin-top: 20px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
  margin-top: 20px;
  font-family: $varela;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p {
  color: $color_text-grey;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px;
}

.title {
  font-family: $lato;
  text-transform: uppercase;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: $lato;
}

.fw-400 {
  font-weight: 400;
}
b{
  font-weight: 700;
}
// Input
input[type="text"], input[type="email"] {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;
  padding-right: 148px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
  color: #26272d;
}

@media screen and (max-width: 575px) {
  #header {
    h1 {
      font-size: 54px;
    }
  }
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 475px) {
  body {
    #header {
      h1 {
        font-size: 48px;
      }
    }
    h2 {
      font-size: 42px;
    }
  }
}