#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  &.active {
    background-color: $bg_color-white;
    padding: 24px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  }

  .main-nav-container {
    position: relative;
    .row {
      align-items: baseline;
    }
  }
  #navigation-btn {
    color: $color_text-dark;
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    z-index: 2;
    &:hover {
      color: $color_text-blue;
    }
  }
  ul {
    &.left {
      margin-bottom: 0;
      margin-left: 50px;
      text-align: left;

    }
    &.right {
      margin-bottom: 0;
      text-align: right;

      li {
        &:first-child {
          a {
            color: $color_text-grey;
            &:hover {
              color: $color_text-blue;
            }
          }
        }
        a {
          &.btn-blue {
            color: $color_text-white;
          }
        }
      }
    }
    li {
      display: inline-block;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $color_text-dark;
        &:hover {
          color: $color_text-blue;
        }
      }
    }
  }
}

//Section header
#header {
  background-image: url("../../images/header-bg.jpg");
  padding: 200px 0 510px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  p {
    font-size: 20px;
    color: $color-text-grey;
  }
  .btn-lg {
    margin-top: 48px;
    i {
      margin-right: 10px;
    }
    color: $color_text-dark;
  }
  .header-iphone {
    position: absolute;
    bottom: -310px;
    left: 50%;
    margin-left: -185px;
  }
}

@media screen and (max-width: 992px) {
  #main-nav {
    .col-lg-4 {
      &:first-child, &:last-child {
        display: none;
      }
    }
  }
  #main-nav {
    #navigation-btn {
      margin-top: -10px;
    }
  }
}

@media screen and (max-width: 575px) {
  #header {
    padding: 160px 0 460px;
    .header-iphone {
      bottom: -220px;
      margin-left: -140px;
      width: 280px;
    }
  }
}

@media screen and (max-width: 475px) {
  #header {
    padding: 160px 0 380px;
    .header-iphone {
      bottom: -210px;
      margin-left: -130px;
      width: 260px;
    }
    p {
      font-size: 18px;
    }
  }
  header#main-nav {
    #slide-out-menu {
      width: 320px;
      padding: 30px;
      .close-menu {
        position: absolute;
        right: 20px;
        top: 30px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 335px) {
  header#main-nav {
    #slide-out-menu {
      width: 305px;
      padding: 30px;
    }
  }
}
