//slide menu
#main-nav {
  #slide-out-menu {
    position: fixed;
    display: block;
    width: 380px;
    max-width: 650px;
    height: 100%;
    left: -380px;
    top: 0;
    padding: 40px;
    z-index: 50;
    background: #26272d;
    transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
    &.open {
      left: 0;
    }
    .close-menu {
      position: absolute;
      right: 20px;
      top: 40px;
      color: $color_text-white;
    }
    .nav-list {
      margin: 40px 0 10px 0;
      padding: 0;
      li {
        display: block;
        margin: 10px 0;
        &:last-child {
          margin: 20px 0;
        }
        a {
          color: $color_text-white;
          &:hover {
            color: $color_text-blue;
          }
          &.btn-blue{
            color: $color_text-white;
          }
        }
      }
    }
    .socials {
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $color_white50;
          transition: all .2s ease-in-out;
          &:hover {
            color: $color_text-white;
          }
        }
      }
    }
  }
}