#features{
  padding: 120px 0;
  .f-icon{
    margin-bottom: 48px;
    .lnr{
      font-size: 48px;
      color: $color_text-blue;
    }
  }
  .f-caption{
    h4{
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 992px) {
  #features{
    padding: 100px 0;
    .feature-item{
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #features{
    padding: 80px 0;
    .feature-item{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 475px) {
  #features{
    padding: 50px 0;
    .feature-item{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .f-icon{
      margin-bottom: 24px;
    }
  }
}