#get-it, #subscribe {
  padding: 120px 0 130px;
  background-color: $bg_color-grey;
  form {
    margin-bottom: 66px;
    .form-group {
      position: relative;
      width: 502px;
      max-width: 100%;
      margin: 0 auto;
      .btn {
        position: absolute;
        top: 3px;
        right: 3px;
      }
    }
  }
}

#get-it {
  .download-btn {
    .btn-dark {
      i {
        vertical-align: text-bottom;
      }
      span {
        font-size: 12px;
        display: inline-block;
        text-align: left;
        b {
          font-size: 22px;
          line-height: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #get-it {
    padding: 100px 0 110px;
  }
}

@media screen and (max-width: 575px) {
  #get-it, #subscribe {
    padding: 80px 0;
    form {
      margin-bottom: 50px;
      .form-group {
        input{
          margin-bottom: 14px;
        }
        .btn {
          position: relative;
        }
      }
    }
  }
}