#iphone-feature {
  position: relative;
  padding: 240px 0 330px;
  .btns-container {
    margin-top: 62px;
    .btn-blue {
      i {
        margin-left: 50px;
      }
    }
    .btn {
      margin-right: 20px;
      margin-bottom: 18px;
      &:last-child {
        margin-right: 0;
        color: $color_text-dark;
      }
    }
  }
  .iphone-img-wrap {
    position: absolute;
    bottom: 110px;
    right: 50%;
  }
}

@media screen and (max-width: 991px) {
  #iphone-feature {
    padding: 80px 0 60px;
    .iphone-img-wrap {
      position: relative;
      bottom: auto;
      right: auto;
      padding: 0 15px;
      margin-top: 64px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #iphone-feature {
    padding: 60px 0;
    .btns-container {
      margin-top: 40px;
    }
    .iphone-img-wrap {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 575px) {
  #iphone-feature {
    padding: 50px 0;
    h2 {
      margin-bottom: 30px;
    }
    .btns-container {
      margin-top: 40px;
      text-align: center;
    }
    .iphone-img-wrap {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 475px) {
  #iphone-feature {
    .btns-container {
      margin-top: 40px;
      text-align: center;
      .btn {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}