#iphone-gal {
  padding: 140px 0 800px;
  position: relative;
  background-color: $bg_color-grey;
  overflow: hidden;
  h2 {
    margin-bottom: 0;
  }
  hr {
    margin: 40px auto;
    width: 50px;
    height: 2px;
    background-color: $color_text-blue;
  }
  .images-list {
    width: 100%;
    position: relative;
    li {
      position: absolute;
      width: 320px;
      top: 92px;
      box-shadow: 10px 10px 16px 0 rgba(61, 61, 62, 0.15);
      &:nth-child(1){
        left: 50%;
        margin-left: -880px;
      }
      &:nth-child(2){
        left: 50%;
        margin-left: -530px;
      }
      &:nth-child(4){
        right: 50%;
        margin-right: -530px;
      }
      &:nth-child(5){
        right: 50%;
        margin-right: -880px;
      }
      img{
        max-width: 100%;
      }
    }
    .main-img {
      position: absolute;
      width: 395px;
      top: 0;
      left: 50%;
      margin-left: -193px;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 992px) {
  #iphone-gal{
    padding: 120px 0 620px;
    .images-list {
      width: 100%;
      position: relative;
      li {
        position: absolute;
        width: 240px;
        top: 68px;
        &:nth-child(1){
          margin-left: -680px;
        }
        &:nth-child(2){
          margin-left: -410px;
        }
        &:nth-child(4){
          margin-right: -410px;
        }
        &:nth-child(5){
          margin-right: -680px;
        }
      }
      .main-img {
        width: 295px;
        margin-left: -148px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #iphone-gal{
    padding: 120px 0 460px;
    .images-list {
      width: 100%;
      position: relative;
      li {
        position: absolute;
        width: 178px;
        top: 52px;
        &:nth-child(1){
          margin-left: -502px;
        }
        &:nth-child(2){
          margin-left: -304px;
        }
        &:nth-child(4){
          margin-right: -304px;
        }
        &:nth-child(5){
          margin-right: -502px;
        }
      }
      .main-img {
        width: 220px;
        margin-left: -110px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  #iphone-gal {
    padding: 50px 0 460px;
  }
}