#map-feature {
  padding: 120px 0 140px;
  position: relative;
  overflow: hidden;
  .map-img-wrap {
    position: absolute;
    bottom: 110px;
    left: 50%;
  }
  .partners-container {
    margin-top: 52px;
    .title {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    ul {
      margin: 26px 0;
      li {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #map-feature {
    padding: 100px 0 100px;
    position: relative;
    overflow: hidden;
    .map-img-wrap {
      position: relative;
      bottom: auto;
      left: auto;
      padding: 0 15px;
      margin-top: 64px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #map-feature {
    padding: 60px 0;
    .map-img-wrap {
      margin-top: 50px;
      img {
        width: 100%;
      }
    }
    .partners-container {
      margin-top: 40px;
      ul {
        margin: 2px 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #map-feature {
    padding: 50px 0;
    h2 {
      margin-bottom: 30px;
    }
    .map-img-wrap {
      margin-top: 50px;
      img {
        width: 100%;
      }
    }
    .partners-container {
      margin-top: 40px;
      ul {
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  #map-feature {
    .partners-container {
      text-align: center;
      ul {
        li {
          display: block;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          &:first-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}